# Exercise 5.03: Building a Multi-Class Model

In [1]:
import pandas as pd

In [2]:
train_url = 'https://raw.githubusercontent.com/PacktWorkshops'\
            '/The-TensorFlow-Workshop/master/Chapter05'\
            '/dataset/shuttle.trn'

In [3]:
X_train = pd.read_table(train_url, header=None, sep=' ')
X_train.head()

    0   1   2  3   4   5   6   7   8  9
0  50  21  77  0  28   0  27  48  22  2
1  55   0  92  0   0  26  36  92  56  4
2  53   0  82  0  52  -5  29  30   2  1
3  37   0  76  0  28  18  40  48   8  1
4  37   0  79  0  34 -26  43  46   2  1

In [4]:
y_train = X_train.pop(9)

In [5]:
test_url = 'https://raw.githubusercontent.com/PacktWorkshops'\
           '/The-TensorFlow-Workshop/master/Chapter05/dataset'\
           '/shuttle.tst'

In [6]:
X_test = pd.read_table(test_url, header=None, sep=' ')
X_test.head()

    0  1   2  3   4   5   6   7   8  9
0  55  0  81  0  -6  11  25  88  64  4
1  56  0  96  0  52  -4  40  44   4  4
2  50 -1  89 -7  50   0  39  40   2  1
3  53  9  79  0  42  -2  25  37  12  4
4  55  2  82  0  54  -6  26  28   2  1

In [7]:
y_test = X_test.pop(9)

In [8]:
import tensorflow as tf

In [9]:
tf.random.set_seed(8)

In [10]:
model = tf.keras.Sequential()

In [11]:
from tensorflow.keras.layers import Dense

In [12]:
fc1 = Dense(512, input_shape=(9,), activation='relu')

In [13]:
fc2 = Dense(512, activation='relu')

In [14]:
fc3 = Dense(128, activation='relu')

In [15]:
fc4 = Dense(128, activation='relu')

In [16]:
fc5 = Dense(8, activation='softmax')

In [17]:
model.add(fc1)
model.add(fc2)
model.add(fc3)
model.add(fc4)
model.add(fc5)

In [18]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 512)               5120
_________________________________________________________________
dense_1 (Dense)              (None, 512)               262656
_________________________________________________________________
dense_2 (Dense)              (None, 128)               65664
_________________________________________________________________
dense_3 (Dense)              (None, 128)               16512
_________________________________________________________________
dense_4 (Dense)              (None, 8)                 1032
=================================================================
Total params: 350,984
Trainable params: 350,984
Non-trainable params: 0
_________________________________________________________________

In [19]:
loss = tf.keras.losses.SparseCategoricalCrossentropy()

In [20]:
optimizer = tf.keras.optimizers.Adam(0.001)

In [21]:
model.compile(optimizer=optimizer, loss=loss, \
              metrics=['accuracy'])

In [22]:
model.fit(X_train, y_train, epochs=5)

Epoch 1/5
1360/1360 [==============================] - 11s 7ms/step - loss: 0.4522 - accuracy: 0.9785
Epoch 2/5
1360/1360 [==============================] - 10s 7ms/step - loss: 0.2207 - accuracy: 0.9937
Epoch 3/5
1360/1360 [==============================] - 11s 8ms/step - loss: 0.0831 - accuracy: 0.9954
Epoch 4/5
1360/1360 [==============================] - 10s 7ms/step - loss: 0.0863 - accuracy: 0.9960
Epoch 5/5
1360/1360 [==============================] - 11s 8ms/step - loss: 0.0737 - accuracy: 0.9963

In [23]:
model.evaluate(X_test, y_test)

454/454 [==============================] - 2s 3ms/step - loss: 0.1221 - accuracy: 0.9981

[0.12214773148298264, 0.9980689883232117]