# Activity 6.01: Predicting Income with L1 and L2 Regularizers

In [1]:
import pandas as pd

In [2]:
usecols = ['AAGE','ADTIND','ADTOCC','SEOTR','WKSWORK', 'PTOTVAL']

In [3]:
train_url = 'https://raw.githubusercontent.com/PacktWorkshops'\
            '/The-TensorFlow-Workshop/master/Chapter06'\
            '/dataset/census-income-train.csv'

In [4]:
train_data = pd.read_csv(train_url, usecols=usecols)
train_data.head()

   AAGE  ADTIND  ADTOCC  SEOTR  WKSWORK  PTOTVAL
0    73       0       0      0        0  1700.09
1    58       4      34      0       52  1053.55
2    18       0       0      0        0   991.95
3     9       0       0      0        0  1758.14
4    10       0       0      0        0  1069.16

In [5]:
train_target = train_data.pop('PTOTVAL')

In [6]:
test_url = 'https://github.com/PacktWorkshops'\
           '/The-TensorFlow-Workshop/blob/master/Chapter06'\
           '/dataset/census-income-test.csv?raw=true'

In [7]:
test_data = pd.read_csv(test_url, usecols=usecols)
test_data.head()

   AAGE  ADTIND  ADTOCC  SEOTR  WKSWORK  PTOTVAL
0    38       6      36      0       12  1032.38
1    44      37      12      0       26  1462.33
2     2       0       0      0        0  1601.75
3    35      29       3      2       52  1866.88
4    49       4      34      0       50  1394.54

In [8]:
test_target = test_data.pop('PTOTVAL')

In [9]:
import tensorflow as tf
from tensorflow.keras.layers import Dense

In [10]:
tf.random.set_seed(8)

In [11]:
model = tf.keras.Sequential()

In [12]:
fc1 = Dense(1048, input_shape=(5,), activation='relu')

In [13]:
fc2 = Dense(512, activation='relu')
fc3 = Dense(128, activation='relu')
fc4 = Dense(64, activation='relu')

In [14]:
fc5 = Dense(1)

In [15]:
model.add(fc1)
model.add(fc2)
model.add(fc3)
model.add(fc4)
model.add(fc5)

In [16]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 1048)              6288

 dense_1 (Dense)             (None, 512)               537088

 dense_2 (Dense)             (None, 128)               65664

 dense_3 (Dense)             (None, 64)                8256

 dense_4 (Dense)             (None, 1)                 65

=================================================================
Total params: 617,361
Trainable params: 617,361
Non-trainable params: 0
_________________________________________________________________

In [17]:
optimizer = tf.keras.optimizers.Adam(0.05)

In [18]:
model.compile(optimizer=optimizer, loss='mse', metrics=['mse'])

In [19]:
model.fit(train_data, train_target, epochs=5, \
          validation_split=0.2)

Epoch 1/5
4989/4989 [==============================] - 41s 8ms/step - loss: 1068044.1250 - mse: 1068044.1250 - val_loss: 962788.6875 - val_mse: 962788.6875
Epoch 2/5
4989/4989 [==============================] - 39s 8ms/step - loss: 1006452.6250 - mse: 1006452.6250 - val_loss: 958969.7500 - val_mse: 958969.7500
Epoch 3/5
4989/4989 [==============================] - 39s 8ms/step - loss: 1004209.7500 - mse: 1004209.7500 - val_loss: 966022.2500 - val_mse: 966022.2500
Epoch 4/5
4989/4989 [==============================] - 39s 8ms/step - loss: 1003696.9375 - mse: 1003696.9375 - val_loss: 958914.8125 - val_mse: 958914.8125
Epoch 5/5
4989/4989 [==============================] - 40s 8ms/step - loss: 1003325.2500 - mse: 1003325.2500 - val_loss: 1022399.5000 - val_mse: 1022399.5000

In [20]:
reg_fc1 = Dense(1048, input_shape=(5,), activation='relu', \
                kernel_regularizer=tf.keras.regularizers\
                                     .l1_l2(l1=0.001, l2=0.001))
reg_fc2 = Dense(512, activation='relu', \
                kernel_regularizer=tf.keras.regularizers\
                                     .l1_l2(l1=0.001, l2=0.001))
reg_fc3 = Dense(128, activation='relu', \
                kernel_regularizer=tf.keras.regularizers\
                                    .l1_l2(l1=0.001, l2=0.001))
reg_fc4 = Dense(64, activation='relu', \
                kernel_regularizer=tf.keras.regularizers\
                                     .l1_l2(l1=0.001, l2=0.001))
reg_fc5 = Dense(1, activation='relu')

In [21]:
model2 = tf.keras.Sequential()
model2.add(reg_fc1)
model2.add(reg_fc2)
model2.add(reg_fc3)
model2.add(reg_fc4)
model2.add(reg_fc5)

In [22]:
model2.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 1048)              6288

 dense_6 (Dense)             (None, 512)               537088

 dense_7 (Dense)             (None, 128)               65664

 dense_8 (Dense)             (None, 64)                8256

 dense_9 (Dense)             (None, 1)                 65

=================================================================
Total params: 617,361
Trainable params: 617,361
Non-trainable params: 0
_________________________________________________________________

In [23]:
optimizer = tf.keras.optimizers.Adam(0.1)

In [24]:
model2.compile(optimizer=optimizer, loss='mse', metrics=['mse'])

In [25]:
model2.fit(train_data, train_target, epochs=5, \
           validation_split=0.2)

Epoch 1/5
4989/4989 [==============================] - 61s 12ms/step - loss: 13579405.0000 - mse: 13579149.0000 - val_loss: 3970202.7500 - val_mse: 3969996.2500
Epoch 2/5
4989/4989 [==============================] - 62s 12ms/step - loss: 4028319.2500 - mse: 4028123.2500 - val_loss: 3970189.5000 - val_mse: 3969996.2500
Epoch 3/5
4989/4989 [==============================] - 60s 12ms/step - loss: 4028304.7500 - mse: 4028129.5000 - val_loss: 3970171.0000 - val_mse: 3969996.2500
Epoch 4/5
4989/4989 [==============================] - 61s 12ms/step - loss: 4028274.5000 - mse: 4028119.5000 - val_loss: 3970124.2500 - val_mse: 3969996.2500
Epoch 5/5
4989/4989 [==============================] - 61s 12ms/step - loss: 4028207.0000 - mse: 4028115.5000 - val_loss: 3970040.5000 - val_mse: 3969996.2500