# Activity 5.02: Building a Movie Genre Tagging a Model with TensorFlow

In [1]:
import pandas as pd

In [2]:
feature_url = 'https://raw.githubusercontent.com/PacktWorkshops'\
              '/The-TensorFlow-Workshop/master/Chapter05'\
              '/dataset/IMDB-F-features.csv'

In [3]:
feature = pd.read_csv(feature_url)
feature.head()

,experience,deep,star,situation,hand,birthday,queen,space,de,bond,...,bad,share,owner,today,married,doctor,death,steve,claims,black
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
target_url = 'https://raw.githubusercontent.com/PacktWorkshops'\
             '/The-TensorFlow-Workshop/master/Chapter05'\
             '/dataset/IMDB-F-targets.csv'

In [5]:
target = pd.read_csv(target_url)
target.head()

,Sci-Fi,Crime,Romance,Animation,Music,Comedy,War,Horror,Film-Noir,Adventure,...,Action,Documentary,Musical,History,Family,Reality-TV,Fantasy,Game-Show,Sport,Biography
0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
X_train = feature[:15000]
y_train = target[:15000]

In [7]:
X_test = feature[15000:]
y_test = target[15000:]

In [8]:
import tensorflow as tf

In [9]:
tf.random.set_seed(8)

In [10]:
model = tf.keras.Sequential()

In [11]:
from tensorflow.keras.layers import Dense

In [12]:
fc1 = Dense(512, input_shape=(1001,), activation='relu')

In [13]:
fc2 = Dense(512, activation='relu')

In [14]:
fc3 = Dense(128, activation='relu')

In [15]:
fc4 = Dense(128, activation='relu')

In [16]:
fc5 = Dense(28, activation='sigmoid')

In [17]:
model.add(fc1)
model.add(fc2)
model.add(fc3)
model.add(fc4)
model.add(fc5)

In [18]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 512)               513024
_________________________________________________________________
dense_1 (Dense)              (None, 512)               262656
_________________________________________________________________
dense_2 (Dense)              (None, 128)               65664
_________________________________________________________________
dense_3 (Dense)              (None, 128)               16512
_________________________________________________________________
dense_4 (Dense)              (None, 28)                3612
=================================================================
Total params: 861,468
Trainable params: 861,468
Non-trainable params: 0
_________________________________________________________________

In [19]:
loss = tf.keras.losses.BinaryCrossentropy()

In [20]:
optimizer = tf.keras.optimizers.Adam(0.001)

In [21]:
model.compile(optimizer=optimizer, loss=loss, \
              metrics=['accuracy'])

In [22]:
model.fit(X_train, y_train, epochs=20)

Epoch 1/20
469/469 [==============================] - 8s 14ms/step - loss: 0.2252 - accuracy: 0.1390
Epoch 2/20
469/469 [==============================] - 6s 13ms/step - loss: 0.2006 - accuracy: 0.1831
Epoch 3/20
469/469 [==============================] - 6s 12ms/step - loss: 0.1779 - accuracy: 0.2517
Epoch 4/20
469/469 [==============================] - 6s 12ms/step - loss: 0.1336 - accuracy: 0.3787
Epoch 5/20
469/469 [==============================] - 6s 12ms/step - loss: 0.0904 - accuracy: 0.4996
Epoch 6/20
469/469 [==============================] - 6s 12ms/step - loss: 0.0638 - accuracy: 0.5653
Epoch 7/20
469/469 [==============================] - 6s 13ms/step - loss: 0.0459 - accuracy: 0.5978
Epoch 8/20
469/469 [==============================] - 6s 12ms/step - loss: 0.0339 - accuracy: 0.6193
Epoch 9/20
469/469 [==============================] - 6s 12ms/step - loss: 0.0278 - accuracy: 0.6205
Epoch 10/20
469/469 [==============================] - 6s 12ms/step - loss: 0.0226 - accuracy: 0.6238
Epoch 11/20
469/469 [==============================] - 6s 12ms/step - loss: 0.0187 - accuracy: 0.6223
Epoch 12/20
469/469 [==============================] - 6s 12ms/step - loss: 0.0167 - accuracy: 0.6247
Epoch 13/20
469/469 [==============================] - 6s 12ms/step - loss: 0.0149 - accuracy: 0.6334
Epoch 14/20
469/469 [==============================] - 6s 13ms/step - loss: 0.0132 - accuracy: 0.6267
Epoch 15/20
469/469 [==============================] - 6s 12ms/step - loss: 0.0133 - accuracy: 0.6334
Epoch 16/20
469/469 [==============================] - 6s 12ms/step - loss: 0.0117 - accuracy: 0.6342
Epoch 17/20
469/469 [==============================] - 6s 12ms/step - loss: 0.0111 - accuracy: 0.6353
Epoch 18/20
469/469 [==============================] - 6s 13ms/step - loss: 0.0100 - accuracy: 0.6395
Epoch 19/20
469/469 [==============================] - 6s 13ms/step - loss: 0.0098 - accuracy: 0.6331
Epoch 20/20
469/469 [==============================] - 6s 13ms/step - loss: 0.0093 - accuracy: 0.6384

In [23]:
model.evaluate(X_test, y_test)

157/157 [==============================] - 1s 5ms/step - loss: 0.9912 - accuracy: 0.1346

[0.9911884665489197, 0.13459999859333038]