In [2]:
import pandas as pd

In [3]:
train_url = 'https://raw.githubusercontent.com/PacktWorkshops'\
            '/The-TensorFlow-Workshop/master/Chapter05'\
            '/dataset/dota2Train.csv'

In [4]:
X_train = pd.read_csv(train_url, header=None)
X_train.head()

,0,1,2,3,4,5,6,7,8,9,...,107,108,109,110,111,112,113,114,115,116
0,-1,223,2,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,152,2,2,0,0,0,1,0,-1,...,0,0,0,0,0,0,0,0,0,0
2,1,131,2,2,0,0,0,1,0,-1,...,0,0,0,0,0,0,0,0,0,0
3,1,154,2,2,0,0,0,0,0,0,...,-1,0,0,0,0,0,0,0,0,0
4,-1,171,2,3,0,0,0,0,0,-1,...,0,0,0,0,0,0,0,0,0,0

In [5]:
y_train = X_train.pop(0)

In [6]:
y_train = y_train.replace(-1,0)
y_train.head()

0    0
1    1
2    1
3    1
4    0
Name: 0, dtype: int64

In [7]:
test_url = 'https://raw.githubusercontent.com/PacktWorkshops'\
           '/The-TensorFlow-Workshop/master/Chapter05'\
           '/dataset/dota2Test.csv'

In [8]:
X_test = pd.read_csv(test_url, header=None)
X_test.head()

,0,1,2,3,4,5,6,7,8,9,...,107,108,109,110,111,112,113,114,115,116
0,-1,223,8,2,0,-1,0,0,0,0,...,-1,0,0,0,0,0,0,0,0,0
1,1,227,8,2,0,0,0,0,0,0,...,-1,0,0,0,0,0,0,0,0,0
2,-1,136,2,2,1,0,0,0,-1,0,...,0,0,0,0,0,0,0,0,0,0
3,1,227,2,2,-1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,184,2,3,0,0,0,-1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
y_test = X_test.pop(0)

In [10]:
y_test = y_test.replace(-1, 0)
y_test.head()

0    0
1    1
2    0
3    1
4    1
Name: 0, dtype: int64

In [11]:
import tensorflow as tf

In [12]:
tf.random.set_seed(8)

In [13]:
model = tf.keras.Sequential()

In [14]:
from tensorflow.keras.layers import Dense

In [15]:
fc1 = Dense(512, input_shape=(116,), activation='relu')

In [16]:
fc2 = Dense(512, activation='relu')

In [17]:
fc3 = Dense(128, activation='relu')

In [18]:
fc4 = Dense(128, activation='relu')

In [19]:
fc5 = Dense(1, activation='sigmoid')

In [20]:
model.add(fc1)
model.add(fc2)
model.add(fc3)
model.add(fc4)
model.add(fc5)

In [21]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 512)               59904
_________________________________________________________________
dense_1 (Dense)              (None, 512)               262656
_________________________________________________________________
dense_2 (Dense)              (None, 128)               65664
_________________________________________________________________
dense_3 (Dense)              (None, 128)               16512
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 129
=================================================================
Total params: 404,865
Trainable params: 404,865
Non-trainable params: 0
_________________________________________________________________

In [22]:
loss = tf.keras.losses.BinaryCrossentropy()

In [23]:
optimizer = tf.keras.optimizers.Adam(0.001)

In [24]:
model.compile(optimizer=optimizer, loss=loss)

In [25]:
model.fit(X_train, y_train, epochs=5)

Epoch 1/5
2896/2896 [==============================] - 24s 8ms/step - loss: 0.6990
Epoch 2/5
2896/2896 [==============================] - 22s 8ms/step - loss: 0.6919
Epoch 3/5
2896/2896 [==============================] - 24s 8ms/step - loss: 0.6918
Epoch 4/5
2896/2896 [==============================] - 23s 8ms/step - loss: 0.6918
Epoch 5/5
2896/2896 [==============================] - 22s 7ms/step - loss: 0.6918

In [26]:
preds = model.predict(X_test)
preds[:5]

array([[0.52194935],
       [0.52194935],
       [0.52194935],
       [0.52194935],
       [0.52194935]], dtype=float32)

In [27]:
y_test[:5]

0    0
1    1
2    0
3    1
4    1
Name: 0, dtype: int64